{% extends 'basic.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Login Accounts ,WebPres.org.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 {% block bootstrap5_title %} Welcome | Forums WebPres{% endblock %}
 {% endblock %}
<br>
<br>
<br>
<body>

{% block content %}

<!---Blog Post Area--->
    {% for post in posts %}
    <div class="col-5">
        <h3>WebPres Community.<button class="btn btn-dark btn-sm" data-target="#questions" data-toggle="modal" role="button">Add Post</button></h3>
              <div class="card mb-4">
                  <div class="media flex-wrap w-100 align-items-center"> <img src="/media/{{post.image}}"
                              class="d-block ui-w-40 rounded-circle" alt="">
                          <div class="media-body ml-3"> <a href="/discussion/{{post.id}}" data-abc="true">{{post.user1}}</a>
                          </div>
                          <div class="text-muted small ml-3">
                            <div class="px-4 pt-3">{{post.timestamp}} </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-body bg-white">
                      <p>{{post.post_content}}</p>
                  </div>
                  <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                  </div>
  {% endfor %}

</div>
<!-- Modal -->
<div class="modal fade" id="questions" tabindex="-1" role="dialog" aria-labelledby="PostModel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PostModel1">Create a Post Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if user.is_authenticated %}
        <div class="modal-body">
          <form action="/" method="POST"> {% csrf_token %}
          <div class="form-group">
            <label for="Post1">Post Your Question Here</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
          </div>
        </div>
        {% else %}
        <h6>Please Login to post</h6>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline btn-dark">Post</button>
        </div>
      </div>
    </div>
  </div>
<!---- Blog Post Area--->


    {% endblock %}
    {% block js %}
    <script>
     {% if alert %}
    alert('Your Question has been posted successfully!!');
    document.location = '/';
    {% endif %}
    </script>


{% include "legal/copyrights.html" %}
{% endblock %}
