
{% load static %}


<div class="container">
<p class="text-muted">
 For Individual Sponsored  <a href="/sponsored_page/" class="text-reset">click Here.</a>.
</p>
<strong class="text text red">People Sponsored:</strong><br>
    <img src="{% static 'Assets/uploads/Rony.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Hafizi.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Saly.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Rafeuth.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Aziz.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Manna.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Naiyas.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
    <img src="{% static 'Assets/uploads/Mustaza.jpg'%} " alt="" width="50" height="50"" class="rounded-circle" alt="...">
</div>