{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres.org , Opensource CMS Site builder.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Webpres site</title>
</head>
<body>
{% block title %}Hello World{% endblock %}

{% block content %}

<button type="button" class="btn btn-secondary position-relative">
  Opensource
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
   %100
    <span class="visually-hidden">Free</span>
  </span>
</button>


<div class="jumbotron text-center">
  <div class="container">
    <h1>CMS Site Builder</h1>
    <p class="" style="color:red">Recommended Hosting Services.
    <a type="button" class="btn btn-lg btn-default" href="https://bigwebx.com/"><span class="glyphicon glyphicon-ok"></span>[Bigweb X]</a></p>
  </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the how to deploy and host site on your own server, head over to the <a href="https://github.com/WebPres-org/v1.0" class="alert-link">Get Started</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>fork or Download WebPres</h3>
      <ul>
        <li>Fork & Vote a start at <a href="https://github.com/WebPres-org/v1.0">Github</a> Webpres V1.0.</li>

        <li>How to <a href="">get started</a></li>
        <li>Host your site with us. Free consultancy</li>
        <li>Manage Server on your own <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out.</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Install WebPres on Your Own Server</h3>
      <ul>
        <li>If you are following the <a href="https://github.com/WebPres-org/v1.0"  <li class="nav-item">
Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>Deploy your app by stackscript: or clone from </li>
        <ul>
          <li><code>https://github.com/WebPres-org/v1.0.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd WebPres</code> - change directory into the local source code repository</li>
          <li>No server yet? <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out</a> price on Bigwebx</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="">Developer Team</a></li>
        <li><a href="https://www.forum.webpres.org">WebPres Forum</a></li>
        <li><a href="www.webpres.org">Download Cms WebPres Site Builder</a></li>
        <li><a href="https://docs.webpres.org/en/latest/">WebPres Documentations</a></li>
      </ul>
    </div>
  </div> <!-- row -->

</div>
{% include "includes/footer/sponsored.html" %}
{% include "legal/copyrights.html" %}
{% endblock %}
</body>
</html>