{% extends "layouts/base.html" %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Services , WebPres.org.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block content %}

    <!--Products-->
    <div class="container py-5">
        <h1 class="font-weight-bold">Services</h1>
        <hr>
        <br>
        <div class="row">
             {% for p in page_obj %}
                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                    <div class="card h-100" style="border:none">
                        <img src="{{ p.product_image.url }}" class="card-img-top" alt="{{ p.product_name }}" style="width: auto; height: 200px; object-fit: scale-down;">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.product_name }}</h5>
                            <p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
                            <p class="card-text">{{ p.product_description }}</p>
                            <div class="row">
                                <div class="col-3 text-center">

                                </div>
                                <div class="col-4 text-center">

                                </div>
                                <div class="col-5 text-center">
                                    <a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!--Pagination-->
        ...
        <!--end of Pagination-->

        {% include "legal/copyrights.html" %}

         {% endblock %}