{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'brand/LOGO_v1.png'%} " width="20%">
    </a>
    <h1>Tax Service Agent</h1>

    <ul><span class="glyphicon glyphicon-earphone"></span> +61 48 15 7777 6</ul>
    <ul><span class="glyphicon glyphicon-envelope"></span> services@ronyman.com</ul>
    <p>No time No worries... We work for you...!</p>

  </div>
<div class="container">


  </div> <!-- row -->

</div>

{% include "copyrights.html" %}
{% endblock %}
