{% extends "layouts/base.html" %}
{% load static %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres , Privacy.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
{% block content %}
<br>
<br>

<!--Donate-->
<div class="container">
  <h2>Privacy Policy.</h2>
<p>This Privacy is applied to ronyman.com and additional terms amd services will be applied base on each products or websites are managed by us. </p>
    <p>Your private information is more concerned from us to keep them secured and safe.We will use your information only for related work purposes</p>
<p>We do not share your information to others Unless apps integrated. </p>
    <p>We suggested keep an eye to look in this privacy policy since it has been done and updated any time. </p>
    <p> To learn more about <a href="/terms" class="text-reset">Terms of Used.</a></p>

 {% include "legal/copyrights.html" %}
{% endblock %}