{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="WebPres , Forum for webpres issue.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

<div class="container my-4">
<div class="jumbotron">
    <h3 class="display-4">Welcome to WebPres Forum</h3>
    <p class="lead">Post and Read your WebPres's issue with hesitated </p>
    <hr class="my-4">
    </div>

{% buttons submit='Post A Question' button_type="submit" button_class="btn btn-outline-dark btn-sm " %}

    {% for post in posts %}


  {% endfor %}

</div>

<!-- Modal -->
<div class="modal fade" id="questions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {% if user.is_authenticated %}
         <div class="modal-body">
          <form action="/" method="POST">
              {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Your Question Here</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
          </div>
        </div>
        {% else %}
        <h3>Please Login to post</h3>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </div>
  </div>
{% endbuttons %}

{% block js %}
<script>
     {% if alert %}
    alert('Your Question has been posted successfully!!');
    document.location = '/';
    {% endif %}
    </script>
    {% endblock %}

{% block footer %}
{% include "includes/footer/sponsored.html" %}
{% include "legal/copyrights.html" %}
{% endblock %}
{% endblock %}

