{% load static %}

<div class="container">
  <div class="row">
    <div class="col">
      <!---->
    </div>
    <div class="col">
      <!---->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!---->
    </div>
    <div class="col">
     <!---->
    </div>
    <div class="col">
      <p class="text-muted">
  Powered by <img src="{% static 'img/logo.png' %}" alt="WebPres-Logo" width ="10%"><a href="http://webpres.org/" class="text-reset">WebPres.org | Host by <a href="http://ronyman.com/">ronyman.com</a>.
</p>
    </div>
  </div>
</div>

