{% load static %}

<br>
    <!--Footer ---->
<div class="container">
  <div class="row">
    <div class="col">
     <p>Docs</p>
    </div>
    <div class="col">
     <p>Download</p>
    </div>
    <div class="col">
      <p>Develop</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Team</p>
    </div>
    <div class="col">
     <p>Sponsor</p>
    </div>
    <div class="col">
      <p>Legal</p>
      <p class="text-muted">
        <a href="/terms" class="text-reset">Terms & Conditions</a> | <a href="/privacy" class="text-reset">Privacy Policy</a>
    </div>
  </div>
</div>

