{% extends 'basic.html' %}
{% block body %}
{# Load the tag library #}
{% load bootstrap5 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<br>
<br>

<!--Donate-->
<div class="container">
  <h2>Donate</h2>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$ 5 One Time Donate</h5>
          <p class="card-text">Your donation goes to support WebPres Project.</p>
          <a href="https://buy.stripe.com/fZedUC0j3h2m80w3cc" class="btn btn-dark">Donate</a>
        </div>
      </div>
    </div>

<div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$10 One Time Donate</h5>
        <p class="card-text">Your donation goes to support WebPres Project.</p>
        <a href="https://buy.stripe.com/28o2bU8Pz7rM5SocMN" class="btn btn-dark">Donate</a>
      </div>
    </div>
</div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$20 One Time Donate</h5>
          <p class="card-text">Your donation goes to support WebPres Project.</p>
          <a href="https://buy.stripe.com/cN25o62rbaDY5So6oq" class="btn btn-dark">Donate</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$50 One Time Donate</h5>
          <p class="card-text">Your donation goes to support WebPres Project.</p>
          <a href="https://buy.stripe.com/00gcQy3vf13oeoU28b" class="btn btn-dark">Donate</a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<br>
<br>

<!--Sponsor-->

<div class="container">
  <h2>Sponsor</h2>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$ 5 Yearly Sponsor</h5>
          <p class="card-text">Sponsor to support WebPres Project.</p>
          <p class="card-text">Place Your Banner On WebPres Main page.</p>
          <a href="https://buy.stripe.com/9AQ3fY3vf5jEbcIeV0" class="btn btn-dark">Sponsor</a>
        </div>
      </div>
    </div>

<div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$10 Yearly Sponsor</h5>
        <p class="card-text">Sponsor to support WebPres Project.</p>
        <p class="card-text">Place Your Banner On WebPres Main page.</p>
        <a href="https://buy.stripe.com/3cs03M9TD13o3Kg8wB" class="btn btn-dark">Sponsor</a>
      </div>
    </div>
</div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$20 Yearly Sponsor</h5>
         <p class="card-text">Sponsor to support WebPres Project.</p>
         <p class="card-text">Place Your Banner On WebPres Main page.</p>
          <a href="https://buy.stripe.com/cN27weaXH7rMfsYdQU" class="btn btn-dark">Sponsor</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$50 Yearly Sponsor</h5>
          <p class="card-text">Sponsor to support WebPres Project.</p>
         <p class="card-text">Place Your Banner On WebPres Main page.</p>
          <a href="https://buy.stripe.com/28oeYGe9TaDY1C86ov" class="btn btn-dark">Sponsor</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$100 Yearly Sponsor</h5>
          <p class="card-text">Sponsor to support WebPres Project.</p>
          <p class="card-text">Place Your Banner On WebPres Main page.</p>
          <a href="https://buy.stripe.com/eVa7we2rbfYi6Ws28g" class="btn btn-dark">Sponsor</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$200 Yearly Sponsor</h5>
          <p class="card-text">Sponsor to support WebPres Project.</p>
          <p class="card-text">Place Your Banner On WebPres Main page.</p>
          <a href="https://buy.stripe.com/eVa17Q1n7aDYcgM9AJ" class="btn btn-dark">Sponsor</a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
 {% endblock %}