{% extends 'basic.html' %}
{% block body %}
{# Load the tag library #}
{% load bootstrap5 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<br>
<br>

<!--Donate-->
<div class="container">
  <h2>Privacy Policy.</h2>
<p>This Privacy Notice is applicable to you, including when you participate in our Public Community Platform for Questions and Answers by interacting WebPres Forum’s Public Network.</p>
<p>Your Questions & Answers must be followed our community guide line otherwise your account will be banned and automatic remove from our system. </p>
    <p> To learn more about <a href="/terms" class="text-reset">Terms of Used.</a></p>

 {% endblock %}