{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock %}</title>
      <style>
          {% block css %} {% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">WebPress Forum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block homeactive %} {% endblock homeactive %} ">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      {% if user.is_authenticated %}
<ul class="navbar-nav mr-2">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          
      <li class="nav-item {% block profileactive %} {% endblock profileactive %}">
        <a class="nav-link" href="/myprofile">Profile</a>
      </li>

        </div>
      </li>      
{% else %}
      <li class="nav-item {% block registeractive %} {% endblock registeractive %}">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item {% block loginactive %} {% endblock loginactive %}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>
<br>

</body>
{% block body %}
  {% endblock %}

<p class="text-muted navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  WebPres.org <a href="https://ronyman.com/" class="text-reset">Powered by ronyman.com</a>.
</p>
  {% block js %} {% endblock %}

</html>
