{% extends "layouts/base.html" %}
{% load static %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Obtax , Business.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'brand/LOGO_v1.png'%} " width="20%">
    </a>
    <h1>Businesses</h1>

    <p>Business activity statement</p>
    <p>How to lodge your BAS</p>
    <p>Pay as you go instalments</p>
    <p>Pay as you go tax withheld</p>
    <p>Fringe benefits tax instalment</p>
    <p>Luxury car tax</p>
    <p>Wine equalisation tax</p>







    Fuel tax credits
    Instalment notices for GST and PAYG instalments

  </div>
<div class="container">


  </div> <!-- row -->

</div>

{% include "legal/copyrights.html" %}
{% endblock %}
