{% extends "basic.html" %}
<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}
<html lang="en">
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Login Accounts ,WebPres.org.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
 {% block bootstrap5_title %} Login | Forums WebPres{% endblock %}

{% block bootstrap5_content %}

<br>
<br>
<div class="p-3 mb-2 bg-dark text-white " style=" width: 400px;
  margin: auto;">
    <div class="text text-center" style="
  margin: auto;">
         <img src="{% static 'Assets/brand/webpres-logo.png'%} " alt="" width="80" height="80">
    </div>
  <div class="card-body">
<!--Login-->
<div class="container py-5 ">
  <h2>Login</h2>

 {# Display django.contrib.messages as Bootstrap alerts #}

{# Display a form #}
<form action="/login/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-dark">
      Submit
    </button>
  {% endbuttons %}
</form>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
</div>

</div>
</div>
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% include "legal/copyrights.html" %}
{% endblock %}


<!--start Body-->
<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<main class="container">
      {% block content %}{% endblock %}

</main>
    {# --- js --- #}
    {% block extra_js %}{% endblock %}

</body>
</html>