{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Register Accounts , WebPres Forum.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}



{% block content %}
<!--Register-->
<div class="container py-5">
	<h1>Register</h1>
	<form role="form" method="post">

        {% csrf_token %}
		{{ form|crispy }}
        {% buttons submit='Register Account' %}{% endbuttons %}
    </form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>


{% include "legal/copyrights.html" %}
{% endblock %}
