{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Register Accounts , WebPres Forum.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

{% block title %}Sign up{% endblock title%}
{% block content %}
{% for message in messages  %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}
        <div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3>Create Account</h3>

                    <form method="post" action='/register/'>
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="form-group">

                            <label for="username"></label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your Name"
                                name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name"></label>
                            <input type="text" class="form-control" id="first_name" placeholder="Enter your First Name"
                                name="first_name" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name"></label>
                            <input type="text" class="form-control" id="last_name" placeholder="Enter your Last Name"
                                name="last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your Email"
                                name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password" placeholder="Choose a password"
                                name="password" required>
                        </div>

                        <div class="form-group">
                            <label for="confirm_password"></label>
                            <input type="confirm_password" class="form-control" id="confirm_password"
                                placeholder="Retype your password" name="confirm_password" required>
                        </div><br>
						{% bootstrap_button "SignUp" button_type="submit" name="signup_submit" value="Register" button_class="btn btn-outline-dark" %}
                        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>

                </div>
                </form>
<p class="fs-6">Noted:</p>
                <p class="fs-6">"Username must be under 15 characters."</p>
                  <p class="fs-6">"Username must contain only letters and numbers."</p>

            </div>
        </div>
    </div>
</div>

</div>


</div>

{% include "legal/copyrights.html" %}
{% endblock %}
