{% extends "layouts/base.html" %}
<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
{% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="Register Accounts , WebPres.org.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% block bootstrap5_title %} Register to Forums WebPres | WebPres.org{% endblock %}

    {% endblock %}
{% block content %}

<div class="p-3 mb-2 bg-dark text-white " style=" width: 400px;
  margin: auto;">
    <div class="text text-center" style="
  margin: auto;">
         <img src="{% static 'Assets/brand/webpres-logo.png'%} " alt="" width="80" height="80">
    </div>
  <div class="card-body">
<h3>Register</h3>

<!--Register-->
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="/register/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-dark">
      Submit
    </button>
  {% endbuttons %}
</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
</div>
</div>
{% include "legal/copyrights.html" %}
{% endblock %}
